 *{
     margin: 0;
     padding: 0;
 }
 
 
 body{
    
     background-color: grey;
     box-sizing: border-box;
     background-position: fixed;
     
}
 nav{
     display: flex;
     padding: 2% 50% 2% 50%;
     justify-content: space-between;
     box-align: center;
 }
 
 .nav-links{
     flex: 1;
     text-align: right;
     list-style: none;
 }
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 60px;
     position: relative;
     text-align: center;
    
 }
 .nav-links ul li a{
      list-style-position: outside;
    display: inline-block;
    padding: 0px 80px 0px opx;
    position:relative ;
    text-align: justify; 
    text-decoration: none;
   text-align: center;
   border-top: 10px;
    


}
 
 footer{
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    color: rgb(7, 2, 2);
    font-style: italic;
    font-size: 40px;
    
    }
     
    