image{
    image-resolution: center;
    width: 400px;
    height: 500px;
    object-fit: contain;
    background-color: darkslategrey;
    position: absolute;
}
body{
    position: relative;
    background-image: -moz-repeating-radial-gradient(100px);
    background-position: fixed;
}
table{
    width: 900px;
    box-shadow: -1px 12px 12px -6px;
    margin-left: 200px; 
    padding-bottom: 20%;
    } 
    table, td, th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    background-color: purple;
    }
    td{
    font-size: 18px;
    }
    th{
    background-color: palevioletred;
    color: white;
    }
    
video{
    width: 900px;
    height: 400px;
    -o-border-image: auto;
    display: block;
        margin:left ;
        padding: 0px 0px 0px 200px;       
}